/* 
    1. Vị trí
    2. Kích thước(width,height)
    3. Màu sắc
    4. Kiểu dáng ( kiểu chữ, hình tròn, vuông,...)
*/

/* Common */
input{
    /* outline:1px solid #2196F3; */
}

a{
    text-decoration: none;
}

.text-white{
    color: white !important;
}

.clear{
    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.col-2{
    width: calc(100% / 2);
}

.col-3{
    width: calc(100% / 3);
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}


/* End Common */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}

#main{
    --height-header: 46px;
}

#header{
    z-index: 1;
    height: var(--height-header);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav{
    display: inline;
}

#nav, .subnav{
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#nav > li{
    display: inline-block;
}


#nav li{
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
   
}

#nav li a{
    text-decoration: none;
    line-height: var(--height-header);
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover a{
    
}

#nav .subnav{
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    background-color: #fff;
    color: #000;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn {
    float: right;
    background-color: #000;
    padding: 0 23px;
    
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: var(--height-header);
}

#slider{
    position: relative;
    margin-top: var(--height-header);
    padding-top: 50%; /* 50% chiều ngang của chính nó */
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}

#slider .text-content{
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    bottom: 47px;
    
}

#slider .text-heading{
    margin-bottom: 10px;
}

#content{

}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 6px;
}

#content .section-sub-heading{
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6 ;
}


#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    overflow: hidden;
    padding: 48px 0;
}

#content .member-item{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 6px;
}

/* tour section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color:#757575;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 12px;
}

.tickets-list .quantity{
    background-color: #000;
    color: #fff;
    float: right;
    padding: 2px 7px;
    border-radius: 100%;
}

/* Places */

.places-list {
    margin-top: 32px;
    margin-bottom: 48px;
}

.places-list .place-img{
    width: 100%;
    display: block;
}

.places-list .place-img:hover{
    opacity: 0.6;
}

.places-list .place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.places-list .heading{

}

.places-list .place-time{
    margin-top: 15px;
    opacity: 0.5;
}

.places-list .place-discription{
    margin-top: 15px;
    line-height: 1.4;
}

.places-list .btn{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

}

.modal.open{
    display: flex;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    animation: modalDown ease 0.8s;
}
.modal .modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}

.modal .modal-close:hover{
    cursor: pointer;
    color: #000;
}
.modal .modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #fff;
    justify-content: center;
}
.modal .modal-body{
    padding: 16px;
}
.modal .modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal .modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;

}

#buy-tickets{
    width: 100%;
    background: #009688;
    color: #fff;
    padding: 12px 0;
    border: none;
    text-transform: uppercase;
}

#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal .modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-help{
    font-size: 15px;
    
}

.modal-help a{
    font-size: 15px;
    color: #2196F3;
}

.contact-content{
    margin-top: 48px;
    line-height: 1.5;
}

.contact-content i{
    width: 30px;
    display: inline-block;
    
}

.contact-form{
    font-size: 15px;

}

.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.btn-hover:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    border: none;
}

.form-submit{
    float: right;
    background-color: #000;
    color: #fff;
    padding: 10px 14px;
    
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
    font-size: 24px;
}

#footer a{
    color: rgba(0, 0, 0, 0.7);
    padding-left: 8px;
}
#footer a:hover{
    opacity: 0.5;
}



@keyframes modalDown{
    from{
        opacity: 0;
        transform: translateY(-165px);

    }
    to{
        transform: translateY(0px);
        opacity: 1;

    }
}